<!-- Carousel
    ================================================== -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
      <%= image_tag "slide01.png" %>
    </div>
    <div class="item">
       <%= image_tag "slide02.png" %>
    </div>
    <div class="item">
       <%= image_tag "slide03.png" %>
    </div>
  </div>
  <a id="left-arrow" class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a id="right-arrow" class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->



<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->



  <div id="content1">
    <%= image_tag "body.png" %>
  </div>

  
  <div class="content2">
    <%= image_tag "mail.png" %>
  </div>



<!-- FOOTER -->
  <footer id="footer">
    <%= image_tag "foot.png" %>
  </footer>

<!-- Javascripts
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<%= javascript_include_tag "application" %>
<script>
    !function ($) {
        $(function(){
            // carousel demo
            $('#myCarousel').carousel()
        })
    }(window.jQuery)
</script>